####################################
# Python
####################################
__pycache__/
*.py[cod]
*$py.class

####################################
# Virtual Environments
####################################
venv/
.env/
.venv/

####################################
# Jupyter Notebook
####################################
.ipynb_checkpoints/

####################################
# VS Code / Editor
####################################
.vscode/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# Results & Outputs
####################################
*.png
*.csv
####################################
# Temporary / cache
####################################
.cache/
*.log

####################################
# Environment configs
####################################
environment/.env